@font-face {
    src: url(Fuentes/SansitaSwashed-VariableFont_wght.ttf);
    font-family: Sansita;
}

@font-face {
    src: url(Fuentes/Teko-Regular.ttf);
    font-family: Teko;
}

@font-face {
    src: url(Fuentes/Montserrat-Regular.ttf);
    font-family: Montserrat;
}

body{
    text-align: center;
}

body::-webkit-scrollbar {
    background: rgb(255, 255, 255);
    width: 0.6rem;
}

body::-webkit-scrollbar-thumb {
    background: #86b4b4;
    border-radius: 0.5rem;
}

body::-webkit-scrollbar-thumb:hover {
    background: #72a1a1;
}

body::-webkit-scrollbar-thumb:active {
    background: #517c7c;
}

/*Estilos de la página principal*/

::selection {
    background-color: rgb(16, 82, 100);
    color: rgb(255, 255, 255);
}

.Encabezado {
    background-color: #f8f8f8;
    padding-left: 7em;
    padding-right: 7em;
    width: 100%;
}

.Encabezado__Logo {
    display: block;
    height: 12.375rem;
    margin: auto;
    margin-bottom: 2.8em;
    padding: 0.3em;
    width: 27.375rem;
}

ul {
    margin: 1.9em;
    padding: 0.74em;
    text-align: center;
}

.seccion-menu {
    background-color: #f8f8f8;
    height: 2.8rem;
    margin-top: -2.8em;
    width: 100%;
}

.menu__items {
    display: inline-block;
}

.menu__hipervinculos {
    color: #8b7e78;
    font-family: Montserrat;
    font-size: 1.2rem;
    font-weight: lighter;
    margin: 1em;
    padding: 0.5em;
    padding-left: 1.9em;
    padding-right: 1.9em;
    text-decoration: none;
}

.menu__hipervinculos:hover {
    color: rgb(41, 122, 116);
    transition: all 0.3s;
}

.menu__hipervinculos:active {
    color: rgb(30, 87, 83);
    transition: all 0.20s;
}

.contenedor {
    width: 100%;
    overflow: hidden
}

.contenedor__slider {
    width: 100%;
    display: flex;
    margin-bottom: 2em;
}

.contenedor__slider__contenido {
    width: 100%;
    height: 20.5rem;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    margin-top: 3em;
}

.contenedor__slider__contenido>img {
    width: 25rem;
}

.contenedor__slider__contenido>div {
    width: 40%;
}

.contenedor__slider__contenido h2 {
    font-weight: 300;
    text-align: justify;
    line-height: 1.875em;
}

.contenedor__slider__contenido a {
    color: bisque;
    text-decoration: none;
    background-color: cadetblue;
    width: 6.25rem;
    display: block;
    padding: 0.9375em 0;
    text-align: center;
    border-radius: 0.1875rem;
    margin-top: 1.25rem;
}

.confiar {
    display: flex;
    margin-left: 1.9em;
    margin-top: 3em;
    width: 90%;
}

.confiar__info > h2 {
    color: #6b9c9c;
    font-family: Montserrat;
    font-size: 2.5rem;
    font-weight: lighter;
    margin: 0.75em;
    margin-bottom: 0.5em;
    margin-top: -.5em;
    padding-left: 1.15em;
    text-align: center;
}

.confiar__info {
    background: #e6ffff;
    color: rgb(14, 11, 11);
    font-family: Montserrat;
    font-size: 1.4rem;
    line-height: 1.7em;
    margin-top: 0;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 2em;
    text-align: justify;
    width: 60%;
    height: 30rem;
}

.confiar__imagen {
    background-color: cadetblue;
    height: 30rem;
    margin-left: auto;
    margin-right: -4.5em;
    margin-top: 0;
    width: 40%;
}

.confiar__imagen-info {
    font-family: Montserrat;
    font-size: 4rem;
    line-height: 7em;
    text-align: center;
}

.consejo__titulo {
    background-color: #F2F1F0;
    border-radius: 0.3em 0.3em 0 0;
    color: rgb(89, 151, 155);
    font-family: Sansita;
    font-size: 2.5rem;
    margin: 0.125em;
    margin-bottom: 1.25em;
    margin-left: 0.7em;
    margin-right: 0.7em;
    margin-top: 1.25em;
    padding: 0.3em;
    text-align: center;
}

.consejo__info {
    background-color: #F0F2F2;
    border-radius: 0 0 0.5em 0.5em;
    color: rgb(100, 89, 71);
    font-family: Sansita;
    font-size: 1.4rem;
    margin-left: 1.455em;
    margin-right: 1.455em;
    margin-top: -2.6em;
    padding: 2em;
    text-align: center;
}

.Whatsapp {
    bottom: 2rem;
    height: 3.8rem;
    position: fixed;
    right: 2.5rem;
    width: 3.8rem;
}

.pie {
    background-color: #6ccfce;
    color: #F0F2F2;
    font-family: Teko;
    font-size: 2rem;
    margin-top: 2.5em;
    text-align: center;
    width: 100%;
}

.redes__container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.redes__container ul li{
    display: inline-block;
    margin: 0.3125rem;
    width: 3.125rem;
    height: 3.125rem;
    text-align: center;
}

.redes__container ul li a{
    display: block;
    padding: 0 0.545rem;
    background-color: rgb(41, 41, 41);
    color: #fff;
    line-height: 3rem;
    font-size: 1.35rem;
    box-shadow: 0 0.1875rem 0.3125rem 0 rgba(0,0,0,.2);
    transition: .2s;
}

.redes__container ul:hover a{
    filter: blur(2px);
}

.redes__container ul li a:hover{
    transform: translateY(-0.1875rem) scale(1.05);
    box-shadow: 0 0.3125rem 0.3125rem 0 rgba(0,0,0,.4);
    filter: none;
}

.redes__container-facebook:hover{
    background-color: rgb(21, 21, 206);
}

.redes__container-whatsapp:hover{
    background-color: rgb(117, 170, 11);
}

.redes__container-gmail:hover{
    background-color: rgb(187, 18, 18);
}


/*Estilos de la sección "Servicios"*/

.estructura {
    width: 90%;
    margin: auto;
}

.estructura__titulo {
    color: #3b8080;
    font-family: Montserrat;
    font-size: 3.3rem;
    margin: 0.75em;
    margin-bottom: 1.6em;
    margin-top: 1.25em;
    text-align: center;
}

.estructura__servicios {
    display: flex;
}

.estructura__servicios h3 {
    color: rgb(3, 41, 43);
    font-family: Sansita;
    font-size: 2.3rem;
    margin: 0.125em;
    margin-bottom: 1.25em;
    margin-left: auto;
    margin-right: 0.8em;
    margin-top: 1.25em;
    padding: 0.3em;
    text-align: center;
    width: 85%;
}

.estructura__servicios-info {
    background-color: #F0F2F2;
    border-radius: 0 0 0.5em 0.5em;
    color: rgb(100, 89, 71);
    font-family: Sansita;
    font-size: 1.2rem;
    margin-left: auto;
    margin-right: 1em;
    margin-top: -2.4em;
    padding: 2em;
    text-align: justify;
    width: 85%;
}

.estructura__servicios-imagen {
    background-color: #517c7c;
    border-radius: 0.7em;
    float: left;
    font-family: Montserrat;
    height: 12.6rem;
    line-height: 13em;
    margin: 1.5rem;
    margin-left: 2em;
    margin-top: 3.2em;
    text-align: center;
    width: 50%;
}

.Whatsapp {
    bottom: 2rem;
    height: 3.8rem;
    position: fixed;
    right: 2.5rem;
    width: 3.8rem;
}

/*Estilos de la sección "Sobre Nosotros"*/

.Nosotros__titulo {
    color: #3b8080;
    font-family: Montserrat;
    font-size: 3.3rem;
    margin-bottom: 1.5em;
    margin-top: 1.25em;
    text-align: center;
}

.nosotros__parte1,
.nosotros__parte2 {
    display: flex;
}

.nosotros__parte1 {
    flex-direction: row-reverse;
}

.nosotros__parte2 {
    margin-top: 2em;
    flex-direction: column;
}

.informacion-1 {
    background-color: #72a1a1;
    border-radius: 0.7em;
    color: #d8dbd1;
    float: right;
    font-family: Montserrat;
    height: 20rem;
    line-height: 18.5em;
    margin-right: 1.8em;
    text-align: center;
    width: 66.5%;
}

.imagen-1 {
    background-color: #333333;
    border-radius: 0.7em;
    color: #d8dbd1;
    font-family: Montserrat;
    height: 20rem;
    line-height: 18.5em;
    margin-bottom: 1em;
    position: relative;
    text-align: center;
    width: 26%;
    margin-right: 1.8em;
}

.informacion-2 {
    background-color: #72a1a1;
    border-radius: 0.7em;
    color: #d8dbd1;
    height: 25rem;
    font-family: Montserrat;
    line-height: 25.5em;
    margin-left: 2em;
    margin-top: 2em;
    position: relative;
    text-align: center;
    width: 62%;
}

.imagen-2,
.imagen-3 {
    background-color: #333333;
    border-radius: 0.7em;
    color: #d8dbd1;
    font-family: Montserrat;
    height: 12rem;
    line-height: 11.5em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: 1.8em;
    margin-top: 6em;
    text-align: center;
    width: 30.5%;
}

.imagen-2 {
    margin-bottom: -4em;
    margin-top: -25.5em;
}

/*Estilos de la sección "Publicaciones"*/

.publicaciones__titulo {
    border-radius: 0.3em 0.3em 0 0;
    color: #3b8080;
    font-family: Montserrat;
    font-size: 3.3rem;
    margin: 0.125em;
    margin-bottom: 2.2em;
    margin-top: .92em;
    padding: 0.3em;
    text-align: center;
}

.publicaciones__info {
    background-color: rgb(210, 242, 243);
    border-radius: 0.3em;
    box-shadow: 0.30em 0.3em 0.5em 0.12em rgb(155, 152, 149);
    font-family: Sansita;
    font-size: 2rem;
    height: 15rem;
    margin: auto;
    margin-bottom: 1.5em;
    margin-top: -2.6em;
    margin-left: 0.275em;
    margin-right: 0.275em;
    max-width: 80rem;
    padding: 3em;
    text-align: center;
}

.publicacion1,
.publicacion2,
.publicacion3 {
    color: black;
    font-size: 1rem;
    margin-bottom: 2.5em;
    margin-left: 0.275em;
    margin-right: 0.275em;
    padding: 2em;
    text-align: center;
}

/* Estilos de la sección "Contáctanos"*/
.formulario {
    font-family: Montserrat;
    margin-left: auto;
    margin-right: auto;
    margin-top: .3em;
    max-width: 60rem;
    padding: 1.5em;
}

.formulario__titulo {
    color: #3b8080;
    font-size: 3.3rem;
    text-align: center;
    margin-bottom: 1em;
}

.mensaje-whatsapp{
    background-color: rgb(15, 161, 51);
    height: 5rem;
    text-align: center;
    line-height: 4.8em;
}

.mensaje-whatsapp:hover{
    background-color: rgb(14, 133, 44);
    transition: all .4s;
}

.mensaje-whatsapp:active{
    background-color: rgb(9, 95, 31);
}

.mensaje-whatsapp > a{
    color: #ffff;
    font-family: Montserrat;
    font-size: 1.6rem;
    text-decoration: none;
}

.formulario__subtitulo,.formulario__subtitulo-2{
    color: #3b8080;
    font-family: Montserrat;
    font-size: 2.3rem;
    text-align: center;
}

.formulario__subtitulo{
    margin-bottom: -1.5em;
    display: inline-block;
    position: relative;
}

.formulario__subtitulo::after, .formulario__subtitulo::before{
    content:"";
    position: absolute;
    width: 27rem;
    height: 0.1875rem;
    background-color: currentColor;
    top: 1.9em;
}

.formulario__subtitulo::before{
    left:-25.5rem
}
.formulario__subtitulo::after{
    right: -25.5rem;
}
.contact-wrapper>* {
    padding: 1.3em;
}

.formulario__datos form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.formulario__datos form label {
    display: block;
}

.formulario__datos form p {
    margin: 0;
    padding: 1em;
}

.formulario__datos form .caja {
    grid-column: 1 / 3;
}

.formulario__datos form button,
.formulario__datos form input,
.formulario__datos form textarea {
    background: none;
    border: none;
    border-bottom: 1px solid #333333;
    outline: 0;
    padding: 1em;
    width: 100%;
}

.formulario__datos form button {
    background: #63b9b9;
    border: 0;
    padding: 1em;
    text-transform: uppercase;
}

.formulario__datos form button:hover,
.formulario__datos form button:focus {
    background: #3b8080;
    color: #fff;
    outline: 0;
    transition: .35s ease-out;
}

.formulario__datos form button:active{
    background: #316868;
    transition: all .35s;
}

@media screen and (max-width: 700px) {
    .contenedor__slider__contenido {
        flex-direction: column-reverse;
        margin-top: 8em;
    }

    .contenedor__slider__contenido>div {
        width: 80%;
    }

    .contenedor__slider__contenido>h2 {
        font-size: 1.4375rem;
    }


    .estructura__servicios {
        flex-direction: column-reverse;
    }

    .estructura__servicios-imagen {
        margin: auto;
        text-align: center;
        width: 50%;
        margin-top: 1em;
        margin-bottom: -2em;
    }
}

@media screen and (max-width: 1200px) {

    /*Sección sobre nosotros*/
    .nosotros__parte1,
    .nosotros__parte2 {
        flex-direction: column;
    }

    .informacion-1 {
        margin-left: 2em;
        width: 84%;
        margin: auto;
    }

    .informacion-2 {
        width: 84%;
        margin: auto;
    }

    .imagen-1,
    .imagen-2,
    .imagen-3 {
        width: 84%;
        margin: auto;
        margin-bottom: 1em;
        margin-top: 1em;
    }

}

@media screen and (max-width: 950px){
    .contenedor__slider{
        margin-bottom: 7em;
    }
    .confiar{
        flex-direction: column;
        margin-top: 2em;
        padding-top: 0;
    }

    .confiar__info{
        margin: auto;
        overflow-y: scroll;
        width: 95%;
    }
    
    .confiar__info > h2{
    font-size: 1.9rem;
    padding: 0;
    margin-bottom: 1.35em;
    }
    
    .confiar__info > p{
        margin-bottom: 1em;
    }
    .confiar__imagen{
        margin: auto;
        margin-top: 1em;
        width: 80%;
        height: 20rem;
    }

    .confiar__imagen-info{
        line-height: 4.5em;
    }
}